<!DOCTYPE html>
<html>
    <title>start</title>
    <body bgcolor=#d4a3ae>
        <center>
        <h1> Cancer Predict </h1><br>
        <form action="/result" method="post">
            <!--'사용월', '호선명','07시-08시 승차인원'-->
            <input type="text" name="value1" placeholder='사용월'><br>
            <input type="text" name="value2" placeholder='호선명'><br>
            <input type="text" name="value3" placeholder='07시-08시 승차인원'><br>
            <input type="submit" value="예측하기">
        </form>
        </center>
    </body>
</html>